*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}
.navigation{
    width: 100%;
    height: 100vh;
    background-image: url("images/1.png");
    background-size: cover;
}
.images {
    display: flex;
}
.images img {
    margin-left: 20px;
}
.text-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
.text-header h1{
    text-align: center;
    font-size: 5.6em;
    font-weight: bold;
}
.text-header p{
    text-align: center;
    font-size: 20px;
    max-width: 450px;
    line-height: 1.5;
}
.look-but{
    display: block;
    width: 250px;
    height: 60px;
    background-color: #ff5b32;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
.color-text{
    color: #32bfce;
}
.about-us{
    width: 100%;
    height: 100%;
    background-color: white;
}
.container-text-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.text {
    float: left;
    margin-right: 15%;
    font-family: 'Rubik', sans-serif;
}
.text p{
    max-width: 870px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.text h1{
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
}
.image {
    float: right;
}
.container-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3%;
    font-family: 'Rubik', sans-serif;
}
.block-one {
    width: 520px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color: #f3e6f4;
}
.block-two {
    width: 520px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color: #dbf3f5;
}
.block-three {
    width: 520px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color: #f6efd2;

}
.block-one img {
    display: block;
    margin: auto;
    width: 230px;
    height: 280px;
}
.block-two img {
    display: block;
    margin: auto;
    width: 230px;
    height: 280px;
}
.block-three img {
    display: block;
    margin: auto;
    width: 230px;
    height: 280px;
}
.block-one,.block-two,.block-three, h2 {
    margin-bottom: 20px;
    font-size: 26px;
}
.block-one p {
    margin-bottom: 25px;
    font-size: 18px;
}
.block-two p {
    margin-bottom: 25px;
    font-size: 18px;
}
.block-three p {
    margin-bottom: 25px;
    font-size: 18px;
}
.container-bingo-bongo {
    width: 100%;
    height: 700px;
    background-color: #f0f0ec;
    border-radius: 190px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-bingo-bongo-text{
    margin-bottom: 60px;
    font-family: 'Rubik', sans-serif;
}
.container-bingo-bongo-img img{
    margin: 40px;
}
.container-bingo-bongo-text p{
    margin-top: 10px;
    font-size: 18px;
    max-width: 470px;
}
.container-bingo-bongo-text h1{
    font-size: 60px;
}
.deck{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0;
    font-family: 'Rubik', sans-serif;
}
.deck-text{
    width: 50%;
    padding-left: 5%;
}
.deck-text h3{
    font-size: 3.6em;
    text-transform: uppercase;
}
.deck_cards{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding-right: 5%;
}
.deck_card{
    background-color: #e8e7df;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3%;
}
.deck_card h4{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.3em;
}
.deck_card#dino{
    border-radius: 1rem 1rem 1rem 10rem;
    width: 80%;
}
.deck_card#treasure_hunt{
    border-radius: 15rem;
    width: 40%;
}
.deck_card#sleep_joe{
    border-radius: 2.5rem;
    width: 40%;
}
.sec-lead{
    background-image: url("images/19.png");
   background-size: 100%;
}
.lead{
    padding: 10% 0;
    display: flex;
    justify-content: flex-start;
}
.label{
    margin-top: -1%;
}
.information_text{
    width: 50%;
    font-family: 'Rubik', sans-serif;
}

.information_text h3{
    font-size: 3em;
    text-transform: uppercase;
}

.information_text p{
    font-size: 1.2em;
    margin-top: 2rem;
}
.content-lead{
    width: 90%;
    margin: 0 auto;
}
.label-but{
    display: block;
    width: 200px;
    height: 50px;
    background-color: #ff5b32;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 40px;
    font-family: 'Rubik', sans-serif;
}


.content-game-card{
    width: 90%;
    margin: 0 auto;
}
.game-town{
    padding: 10% 0;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
}
.images-game-town{
    width:45%;
    margin: 0 1rem;
}

.images-game-town img{
    width: 100%;
}

.game-month{
    width:45%;
    margin: 0 1rem;
}
.information-game-month{
    display: flex;
}
.month{
    background-color: #daf3f5;
    border-radius: 1rem;
    padding: 3%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-right: 2rem;
    width: 40%;
}

.month img{
    margin-right: 0.4rem;
}

.number{
    display: flex;
    align-items: center;
    width: 40%;
}

.number img{
    width: 2.2rem;
    margin-right: 1rem;
}

.number h4{
    font-size: 2em;
}

.town h3{
    text-transform: uppercase;
    font-size: 3em;
    margin: 0.8rem 0;
}
.town p{
    font-size: 18px;
    line-height: 1.5em;
}
.child{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.child-images{
    display: flex;
    align-items: center;
}

.child-images img{
    margin-right: 0.4rem;
}

.pay{
    display: flex;
    align-items: center;
}

.pay h3{
    margin-right: 2rem;
}
.pay-but{
    display: block;
    width: 200px;
    height: 50px;
    background-color: #ff5b32;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
}
.rules{
    width:45%;
    margin: 1rem;
}

.rules .tabs{
    width: 100%;
    background-color: #f0f0eb;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rules input[type=radio]{
    display: none;
}

.rules label{
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 155px;
    font-weight: bold;
    margin: 1%;
}
.rules input[type=radio]:checked + label{
    background-color: #f5d961;
}

.rules{
    padding-top: 1rem;
}
.text-games p{
    font-size: 18px;
    line-height: 1.5em;
    margin: 10px;

}
.library{
    background-image: url("images/33.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 55rem;
    padding-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}

.game-library{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-library{
    align-self: start;
    width: 45%;
}

.text-library h3{
    text-transform: uppercase;
    font-size: 4em;
    margin-bottom: 1rem;
}

.text-library p{
    font-size: 1.1em;
    margin-bottom: 1rem;
}

.photo-svg{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
}

#flower{
    position: relative;
    top: 100px;
}

#fire{
    margin: 2%;
}

#rhomb{
    position: relative;
    top: 90px;
}

#arrow{
    position: relative;
    left: 150px;
    margin: 1%;
}
.feedback{
    width: 40%;
}
.feedback form{
    width: 100%;
}
form input[type=text],input[type=email],input[type=tel]{
    width: 100%;
    background-color: #f0f0eb;
    border:1px solid #c7c7c7 ;
    border-radius: 1rem;
    padding: 3%;
    margin: 1rem 0;
}
label.box{
    color: #c7c7c7;
}
.roles{
    margin: 1rem 0;
    display: flex;
    align-items: center;
}
.roles label{
    margin-left: 0.5rem;
    margin-right: 2rem;
}
.content-library{
    margin: 0;
    width: 80%;
}
.event-but{
    display: block;
    width: 200px;
    height: 50px;
    background-color: #ff5b32;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 40px;
}
footer{
    background-color: #e8e7df;
    font-family: 'Rubik', sans-serif;
}

div.footer{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.circle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

div.circle p{
    font-size: 1em;
}

div.networks {
    width: 10%;
}
div.networks img{
    margin: 0 1%;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: #e8e7df;
    padding: 0 20px;
}
.left {
    text-align: center;
    padding-left: 10%;
}
.right {
    text-align: center;
    padding-right: 10%;
}
.center {
    text-align: center;
}
.center img{
    margin: 10px;
    width: 40px;
    height: 40px;
}
